body {
  color: #574240;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.div-cabecera {
  background-color: #f7f7f7;
  box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.div-iconos {
  float: right;

  i {
    margin: 0 0.5rem;
    font-size: large;
  }
}

.div-principal {
  margin: 3rem auto 0 auto;
  padding: 1rem;
  width: 70%;
}

.label-txt {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

input {
  border: 0.5px solid rgb(185, 185, 185);
  box-sizing: border-box;
}

.input-box {
  height: 2rem;
  width: 100%;
}

.div-doble {
  display: flex;
  gap: 3%;
}

.col {
  width: 50%;
}

.boton-hora {
  background-color: #f7f7f7;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100%;
}

.boton-hora:hover {
  box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.boton-registro {
  border-radius: 1rem;
  box-shadow: 0 5px rgba(182, 182, 182, 0.24);
  cursor: pointer;
  height: 2rem;
  margin-top: 2rem;
  min-width: 70px;
  width: 10%;
}

.boton-registro:active {
  box-shadow: none;
  transform: translateY(5px);
}

#boton-registrar {
  background-color: #92ac48;
  border-style: none;
  color: white;
}

#boton-registrar:hover {
  background-color: white;
  border: 2px solid #92ac48;
  color: #92ac48;
}

#boton-borrar {
  background-color: #bc4749;
  border-style: none;
  color: white;
}

#boton-borrar:hover {
  background-color: white;
  border: 2px solid #bc4749;
  color: #bc4749;
}

table {
  margin-top: 2rem;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
  }
}

.fa-pen-to-square {
  color: #bfa5a3;
}

.fa-trash {
  color: #bc4749;
}

