/* página principal */
body {
  color: #574240;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.div-cabecera {
  background-color: #f7f7f7;
  box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem 2rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

button {
  background-color: #ffffff00;
  border-style: none;
  color: inherit;
  cursor: pointer;

  i {
    font-size: large;
    margin: 0 0.5rem;
  }
}

.div-iconos-izquierda {
  float: left;
}

.div-iconos-derecha {
  float: right;
}

.div-principal {
  margin: 3rem auto 0 auto;
  padding: 1rem;
  width: 70%;
}

.label-txt {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

input {
  border: 0.5px solid rgb(185, 185, 185);
  box-sizing: border-box;
}

.input-box {
  height: 2rem;
  width: 100%;
}

.div-doble {
  display: flex;
  gap: 3%;
}

.col {
  width: 50%;
}

.boton-hora {
  background-color: #f7f7f7;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100%;
}

.boton-hora:hover {
  box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.boton-registro {
  border-radius: 1rem;
  box-shadow: 0 5px rgba(182, 182, 182, 0.24);
  cursor: pointer;
  height: 2rem;
  margin-top: 2rem;
  min-width: 70px;
  width: 10%;
}

.boton-registro:active {
  box-shadow: none;
  transform: translateY(5px);
}

#boton-registrar {
  background-color: #92ac48;
  border-style: none;
  color: white;
}

#boton-registrar:hover {
  background-color: white;
  border: 2px solid #92ac48;
  color: #92ac48;
}

#boton-borrar {
  background-color: #bc4749;
  border-style: none;
  color: white;
}

#boton-borrar:hover {
  background-color: white;
  border: 2px solid #bc4749;
  color: #bc4749;
}

#tabla-incidencias {
  box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  th,
  td {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f7f7f7;
    }

    tr:nth-child(odd) .boton-editar-incidencia,
    tr:nth-child(odd) .boton-borrar-incidencia,
    tr:nth-child(odd) .fa-check,
    tr:nth-child(odd) .fa-xmark {
      background-color: #ffffff;
    }

    .input {
      background-color: inherit;
      color: inherit;
      font-size: inherit;
      text-align: center;
    }

    .input[readonly] {
      border: none;
      cursor: default;
      outline: none;
    }
  }
}

.input-editar-text {
  text-align: center;
  width: 100px;
}

.input-editar-number {
  text-align: center;
  width: 50px;
}

#tabla-tiempos {
  width: 100%;

  th,
  td {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
  }
}

.boton-editar-incidencia,
.boton-borrar-incidencia,
.fa-check,
.fa-xmark {
  background-color: #f7f7f7;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 25px;
}

.fa-pen-to-square {
  color: #bfa5a3;
  cursor: pointer;
}

.fa-trash {
  color: #bc4749;
  cursor: pointer;
}

.fa-check {
  color: #92ac48;
}

.fa-xmark {
  color: #bc4749;
}

/* popup */
.popup {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .popup-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 90%;
    padding: 20px;
    text-align: center;
    width: 400px;
  }
}

#cerrar-popup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#cerrar-popup:hover,
#cerrar-popup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* calendario */
.modal-calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #bc4749;
}

.cal-container {
  width: 450px;
  background: #fff;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}